/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav{
	font-size: 13px;
}
ul.nav {
	font-family: 'Arvo',courier, serif;
}

footer{
	background-color: #e74c3c;
    padding-top: 150px;
    padding-bottom: 30px;
}

#get-involved{
	background-color: #f5f5f5;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px
}

.jumbotron{
	text-align: center;
	background-image: url('../images/hero_image.jpg');
	color: white;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight:100;
	padding:0px 50px;
}

.jumbotron h1{
	font-family: 'Arvo', corier, serif;
}
.btn-lg{
	font-size: 36px;
}

.homepage {
	text-align: center;
	padding-bottom: 20px;
    padding-top: 20px;
}

.homepage h2, .homepage h3{
	font-family: 'Arvo', courier, serif;
	color: #e30c4c;
	text-transform: uppercase;
}

.homepage h2{
	font-size: 28px
}

.homepage h3{
	font-size: 24px;
}

.homepage p{
	font-size: 15px;
	font-weight: 100;
}

.homepage a{
	color: #e74c3c;
}

.homepage a:hover{
	color:#e74c3c;
	text-decoration: none;
	opacity:0.8;
}

.space{
	margin-bottom:20px;
}

.homepage hr{
	border-top:1px solid #e30c4c;
	width: 170px;
	margin-top: 15px;
}

/* Responsive Styling */

@media (max-width: 1199px) { 

	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}

	.space{
		margin-top: 20px;
	}

 }

@media (max-width: 991px) { 

	.jumbotron h1{
		font-size: 44px;
	}

	.jumbotron p{
		padding: 0 10px;
	}

	.space{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#get-involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
 }

 @media (max-width: 767px) { 

	.jumbotron h1{
		font-size: 24px;
	}

	.jumbotron p{
		padding: 0;
		font-size: 16px;
	}

	.btn-lg{
		font-size: 18px;
	}

	.homepage p{
		font-size: 18px;
	}

	footer img{
		width: 80%;
	}
 }